<% comments.each do |comment| %>
  <div class="entry stream-comment" comment_id="<%= comment.id %>">
    <div class="card card-common">
      <div class="card-content">
        <div class="entry-container">
          <div class="entry-main">
            <div class="entry-date">
              <%= pretty_date(comment.created_at) %>
            </div>
            <h2 class="entry-title">
              <span>On</span> 
              <% if comment.post.present? %>
                <a class="entry-title-link" target="_blank" href="/reader/posts/<%= comment.post.id %>"><%= comment.post.title %></a>
				shared by <strong><%= comment.post.sharer.name %></strong>:
              <% else %>
                a post that no longer exists:
              <% end %>
            </h2>
            <div class="stream-comment-content">
				<span class="comment-author"><%= comment.user.name %> <span class="comment-timestamp"><%= comment_date(comment.updated_at) %>:</span></span> 
				<span class="the-comment-content"><%= markdown(comment.content) %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
